.wrapper {
  height: 100%;
}

.section-dark {
  background: url("https://demos.creative-tim.com/paper-kit-2/assets/img/antoine-barres.jpg");
}

.moving-clouds {
  background-image: url("http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png");
}

.fog-low {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: 0.8;
}

.fog-low img {
  width: 100%;
}

.fog-low.right {
  margin-left: 30%;
  opacity: 1;
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 38em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.main {
  background-color: #fff;
}

.page-header.section-dark .content-center,
.page-header.section-dark .category-absolute {
  z-index: 1;
}

.presentation-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 6em;
  font-weight: 700;
  color: #ffffff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-brand .type {
  position: absolute;
  font-size: 20px;
  background: #132026;
  padding: 6px 10px;
  border-radius: 4px;
  top: 0;
  font-weight: 600;
}

.page-header {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .filter::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.page-header.page-header-small {
  min-height: 65vh !important;
  max-height: 700px;
}

.page-header.page-header-xs {
  min-height: 40vh !important;
}

.page-header.section-dark .content-center,
.page-header.section-dark .category-absolute {
  z-index: 1;
}

.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative;
}

.landing-section {
  padding: 100px 0;
  z-index: 1;
}

.home-description {
  font-size: 18px;
}

.cursor {
  margin-bottom: 15rem;
  cursor: pointer;
}