@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

.footer {
  z-index: 99;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 4.5em;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 150;
}

.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 23em;
}

.footer #container {
  margin-top: 2px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #00122c, #00122cf3);
}

.footer__icon {
  z-index: 99;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.btn-floating:hover .facebook {
  color: rgb(25, 93, 240);
}

.btn-floating:hover .twiter {
  color: rgb(54, 102, 207);
}

.btn-floating:hover .google {
  color: rgb(199, 4, 46);
}

.btn-floating:hover .instagram {
  color: rgb(255, 108, 235);
}

.btn-floating:hover .linkedin {
  color: rgb(36, 60, 168);
}

.btn-floating:hover .github {
  color: rgb(35, 207, 12);
}

@media screen and (max-width: 768px) {
  .footer:hover {
    height: 27em;
  }

}